* {
    box-sizing: border-box;
    font-family: 'Merriweather';
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background: url(../Home/img/bgimage2.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin-top: 150px ;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    text-align: center;

}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
td{
    color: white;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.success-message {
    color: green;
    margin-top: 5px;
}
